<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Car List</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">

		<div id="carfleetList">


			<div align="center">
				<h1>GUI to support Mobile Developer</h1>
			</div>

			<div align="center">
				<h5>Here you can add a complete CAR Entity.</h5>
			</div>


			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Model Name</th>
						<th>Price</th>
						<th>Patrimony Tag</th>								
					</tr>
				</thead>
				<tr th:each="car : ${car}">
					<td><span th:text="${car.id}"></span></td>
					<td><span th:text="${car.model}"></span></td>
					<td><span th:text="${car.price}"></span></td>
					<td><span th:text="${car.patrimonyTag}"></span></td>					
				</tr>

			</table>
		</div>

			<br/>

		<form action="createCar" method="post">
			<div class="form-group">
				<label for="name">Model Name</label> <input type="text"
					class="form-control" id="modelName" name="modelName" placeholder="Model Name" />
			</div>

			<div class="form-group">
				<label for="price">Price U$</label> <input type="text"
					class="form-control" id="price" name="price" placeholder="Price U$" />
			</div>
			
			<div class="form-group">
				<label for="patrimonyTag">Patrimony TAG</label> <input type="text"
					class="form-control" id="patrimonyTag" name="patrimonyTag" placeholder="Patrimony TAG" />
			</div>

			<br />

			<button type="submit" class="btn btn-success">Add Car</button>
			<a href="/" class="btn btn-info" role="button">Back</a>
		</form>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>